:root {
  --charcoal: #264653;
  --gunmental: #223943;
  --rich-black: #161c29;
  --persian-green: #2a9d8f;
  --orange-yellow-crayola: #e9c46a;
  --sandy-brown: #f4a261;
  --burnt-slenna: #e76f51;
  --black: #3f3f3f;
  --gray-snow: #818181;
  --white: #ffffff;
  --white-snow: #e9eef1;
  --height-nav: 4.4rem; /* 70px */
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--rich-black);
}

html {
  font-family: "Poppins", sans-serif;
  color: var(--black);
}

body {
  background-color: var(--orange-yellow-crayola);
}

.hero {
  display: flex;
  place-content: center;
  position: relative;
}
.hero-container {
  display: grid;
  place-items: center;
  gap: 1em;
  width: 100%;
  padding: 1em 2.4em;
}
.hero-overlay {
  background-color: var(--rich-black);
}
.hero-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  color: var(--white);
}
.logo {
  width: fit-content;
  max-width: 240px;
  height: 74px;
}
.logo-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  -o-object-fit: contain;
  object-position: center;
  -o-object-position: center;
}
.hero-nav {
  position: fixed;
  bottom: 0;
  height: var(--height-nav);
  background-color: var(--rich-black);
  z-index: 1040;
}
.nav-list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding: 1.2em 1.4em;
}
.nav-link {
  display: flex;
  align-items: center;
  gap: 0.4em;
  font-size: 1em;
  font-weight: 600;
  text-decoration: none;
  color: var(--white);
}
/* Icons */
.icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.geometry {
  background-image: url("../images/icons/architecture_white_24dp.svg");
}
.discounts {
  background-image: url("../images/icons/discount_white_24dp.svg");
}
.statistics {
  background-image: url("../images/icons/payment_white_24dp.svg");
}
.salary {
  background-image: url("../images/icons/analytics_white_24dp.svg");
}
/* Main */
main,
.main {
  display: flex;
  place-content: center;
  height: auto;
  /* min-height: 100vh; */
  padding-top: calc(var(--height-nav) - 1.4em);
  padding-bottom: calc(var(--height-nav) + 2.4em);
}
/* Section Home  */
.home-container {
  display: grid;
  align-items: center;
  justify-content: center;
  width: 90%;
}
/* Inputs and Buttons */
.text-result {
  width: 180px;
  height: 34px;
  padding: 0.4em 0.2em;
  text-align: center;
  background-color: #8181813b;
  border-radius: 8px;
}
.label {
  font-size: 1em;
  font-weight: 300;
}
.input {
  width: 80px;
  height: 34px;
  padding: 0.4em;
  font-family: inherit;
  font-weight: 400;
  text-align: center;
}
.input:focus,
.input:focus-visible {
  outline: 2px solid var(--orange-yellow-crayola);
}
.btn-form {
  width: 160px;
  padding: 0.4em 0.2em;
  border: 1px solid transparent;
  font-family: inherit;
  font-size: 1em;
  font-weight: 600;
  color: var(--rich-black);
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.4s ease;
}
.btn-form:hover,
.btn-form:focus {
  background-color: var(--orange-yellow-crayola);
  color: var(--white);
}

/* Medias */
@media (min-width: 640px) {
  .hero-container {
    grid-template-columns: auto 1fr;
    gap: 4em;
    width: 90%;
    margin: 1em 0.5em;
    border-radius: 0.5rem;
  }
  .hero-nav {
    position: static;
    bottom: inherit;
    height: auto;
    background-color: inherit;
  }
  /* Main */
  main,
  .main {
    padding-top: var(--height-nav);
    padding-bottom: var(--height-nav);
  }
}
